{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Change Limit</h3><hr>
      <form method='post' action='{{url_for("limit")}}'>
        <div class='form-group'>
            <label>New Limit</label>
            <input type='text' name='limit' required class='form-control' value='{{datas[0]}}'>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    
    </div>
  </div>
{% endblock %}